<% if (site.tags.length){ %>
    <section class='m_widget tagcloud'>
        <div class="celan-title"><div class="celan-title-i"><i style="color:#0099FF" class="fa fa-tags fa-fw"></i></div>标签集合</div>
        <div class='content'>
            <% site.tags.sort('name').each(function(item){ %>
            <a title="<%= item.name %>&nbsp;(<%= item.posts.length %>)" href="<%= url_for(item.path) %>"><%= item.name %>&nbsp;(<%= item.posts.length %>)</a>
            <% }); %> 
        </div>
    </section>
<% } %>